# Registry
registry=https://registry.npmjs.org/

# Security
ignore-scripts=true
verify-store-integrity=true

# Lockfile strictness
frozen-lockfile=true

# Prevent accidental publishes
; publish-branch=main

# Peer deps
auto-install-peers=true
strict-peer-dependencies=false

# Performance
symlink=true

# Logging
loglevel=warn

minimum-release-age=10080

block-exotic-subdeps=true

