fastapi[standard]
sqlalchemy
python-dotenv
aiofiles
boto3
email-validator
alembic
pre-commit
black
flake8
pytest
pyjwt
python-multipart
cryptography
pytest-cov
pytest-order
pytest-xdist
requests_oauthlib
smart_open[all]
clamd
